*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
.list{
    position: absolute;
    width: 400px;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
h3{font-size: 40px;border-bottom: 2px solid black}
ul{margin-top: 10px;}
ul>li{line-height: 40px;border-bottom: 2px solid black}